.products {
  padding: 110px 0;
  background-color: $txtcolor;
  font-family: $ffamily;
  .top_product {
    padding-bottom: 50px;
    h2 {
      @include hsize(45px);
      text-align: center;
      padding-bottom: 20px;
    }
    p {
      text-align: center;
      font-size: $stsize;
      padding-bottom: 50px;
    }
  }
  .bottom_product {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      padding-bottom: 40px;
      li {
        padding-right: 40px;

        a {
          text-decoration: none;
          @include hsize(22px);
          color: black;
        }
        a:hover {
          color: $artcolor;
        }
      }
    }
    .products_img {
      display: flex;
      flex-wrap: wrap;
      .products_item {
        width: calc(100% / 4);
        img {
          padding: 10px;
        }
      }
    }
  }
}
